<main>
    <nav>
        <app-nav-bar></app-nav-bar>
    </nav>

    <div class="charText">
        <h1>Bingo Rules</h1>
    </div>
    <div class="images">
        <div>
        </div>
        <div class="middle">
            <p class="rules">
            1. Winning cards must have the last number called in pattern<br>
            2. All bingo players must be 18 Years of age, ID may be required<br>
            3. All players must have a session buy-in and receipt. No splitting of packages<br>
            4. It is the PLAYER'S responsibility to YELL bingo loud enough for Caller to Hear. If the caller does not acknowledge you, YELL again <br>
            5. No bingos will be honored after the caller doses the game <br>
            6. Flash games will be played with bingo/strip games <br>
            7. Ink daubers must be used on all games <br>
            8. All prizes will be split evenly between winners <br>
            9. Broadway Bingo is not responsible for malfunction of equipment <br>
            10. Number is "dead" when the caller begins the letter or number of next ball <br>
            11. All decisions made by the manager are final.<br>
            </p>
        </div>
    </div>

</main>
