<main class="main">
  <nav>
    <app-nav-bar></app-nav-bar>
  </nav>

  <div class="top">
    <img src="assets/BBLogoW.png">
  </div>

  <div class="middle">
    <div class="left">
      <h1>Hours</h1>
      <p>Monday, Wednesday, Thursday, Friday, Saturday, Sunday:

        <li>Doors Open: 4:00 PM</li>
        <li>Play Starts: 6:00 PM</li>
        Closed on Tuesdays</p>
    </div>

    <div class="right">
      <h2>For information on daily <br> game play and prizes, <br>
        sign up for our texting club:</h2> <br>
        <h3>Text "BWAY" to (844)494-6017</h3>
    </div>
  </div>



</main>

<router-outlet />
