.top{
    text-align: center;
    margin: 3vh;
}

.top img{
    height: 75vh;
    width: 85vw;
}

.middle{
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #DE0016;
    color: white;
    height: 50vh;
}

.left{
    /* margin-left: 3vw; */
    display: flex;
    flex-direction: column; /* This ensures the text elements stack vertically */
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    /* text-align: center; Aligns text to the center */
}

.right {
    display: flex;
    flex-direction: column; /* This ensures the text elements stack vertically */
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    text-align: center; /* Aligns text to the center */
}

.bottom {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    color: black;
    height: 50vh;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    height: 90%;
    width: 80%;
}

.contact {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #DE0016;
    width: 100%;
}

.bullets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%; 
    max-width: 600px; 
}

.grid-item {
    padding: 10%;
    color: #DE0016; /* Text color */
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.grid-item a{
    color:#DE0016;
    text-decoration: underline;
}

footer {
    font-family: 'Josefin Sans';
    color: white;
    background-color: #DE0016;
    height: 15vh;
}