<main>
    <nav>
        <app-nav-bar></app-nav-bar>
    </nav>

    <div class="charText">
        <h2>We are proud to support our charities. <br>
            Broadway Bingo players make it possible <br>for these charities to 
            achieve their missions.
        </h2>
    </div>
    <div class="images">
        <div>
        </div>
        <div class="middle">
            <img src="assets/SCVL.JPEG" alt="Sand Beach Volleyball Club">
            <img src="assets/CKHC.png" alt="Coastal Kids Home Care">
        </div>
    </div>

</main>