nav {
    background-color: #DE0016;
    height: 30%;
    box-shadow: 0px 2px 5px #DE0016;
}

.navbar-nav{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-family: "Josefin Sans", sans-serif;
    font-size: large;
    color: white;
}

img{
    width: 6em;
    height: auto;
}

a:hover{
    color: black;
}

.navbar-nav .nav-link {
    margin-right: 50px;
}
