.bkg{
  /* background-image: url('../assets/bingoballs.png'); */
}


.header{
  text-align: center;
  margin-top: 3vw;
}


.middle {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.fade {
    position: relative;
  /* position: absolute; */
  width: 25vw; /* Adjust as needed */
  height: 70vh; /* Adjust as needed */
  transition: opacity 1s ease-in-out; /* 1s for 1 second fade time */
  opacity: 1; /* Default state */
}


.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

.fade.fade-out {
    opacity: 0;
  }
  
  .fade.fade-in {
    opacity: 1;
  }


.header{
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 3rem;
}


  
